.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.scroll-idicator {
  font-size: 24px;
  margin-top: 15px;
}

.scrollable-section {
  width: 400px;
  height: 500px;
  max-height: 500px;
  background-color: brown;
  color: aliceblue;
  margin-top: 15px;
  overflow: auto;
  overflow-y: scroll;
}

.scroll-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
